################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Indiv_AssignSRFN/v16/Server/sqlite3
